@{
    ViewBag.Title = "Home Page";
    //Layout = "MyLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-user"></span> Profil</a>
        <a href="#" class="btn btn-primary btn-large btn-block">
            <span class="glyphicon glyphicon-envelope"></span> Vänlista
        </a>
    </div>
    <div class="col-md-6 margin-top-20"></div>
</div>

You are using @Request.Browser.Browser, and thats ok!