@model DatingWebbAPPHt2016.Models.UserAccount

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h4>User Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        

    </dl>
   </div>
</div>

